# ----------------------
# R-specific files
# ----------------------
.Rhistory
.Rproj.user/
*.RData
*.RDS

# ----------------------
# Large data folders (ignore all raster and CSV files)
# ----------------------
Data/LST/
Data/NDVI/
Residuals/
Residual_Maps/

# ----------------------
# Outputs (plots, PDF, PNG)
# ----------------------
*.tif
*.csv

# ----------------------
# OS/IDE files
# ----------------------
.DS_Store
Thumbs.db
.vscode/